/* ==========================================================
   CV Card
   ========================================================== */

.cv-container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cv-section-title {
    text-transform: capitalize;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.25rem;
}

.cv-card {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 12px;
    background: white;
}

.cv-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6px;
}

.cv-right-column {
    flex: 1;
}

.cv-left-column {
    text-align: right;
    min-width: 140px;
}

.cv-title,
.cv-subtitle,
.cv-location,
.cv-period {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: bold;
}

.cv-subtitle,
.cv-location,
.cv-period {
    font-style: italic;
    font-weight: lighter;
}

.cv-content {
    margin-left: 10px;
}

.cv-card a {
    cursor: pointer;
    pointer-events: auto;
}
