
.highlight-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.highlight-image {
    height: 180px;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    object-position: center;
    flex-shrink: 0;
}

.logo-image {
    max-height: 120px;
    max-width: 300px;
}